{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 1</h2>

                    <div id="main">
                        <nav v-bind:class="active" v-on:click.prevent>
                            <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
                            <a href="#" class="projects" v-on:click="makeActive('projects')">Projects</a>
                            <a href="#" class="services" v-on:click="makeActive('services')">Services</a>
                            <a href="#" class="contact" v-on:click="makeActive('contact')">Contact</a>
                        </nav>
                        <p>You chose <b>{{ "{{active}}" }} ${ active }</b></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block javascriptsvue %}
    {{ include('VueBundle:VueBasic:_vueScript.html.twig') }}
    {#<script src="{{ asset('js/vue/quick-start.vue.js') }}"></script>#}
    <script>
        var demo = new Vue({
            el: '#main',
            delimiters: ['${', '}'],

            data: {
                active: 'home'
            },

            methods: {
                makeActive: function(item){
                    this.active = item;
                }
            }
            
        });
    </script>
{% endblock %}