{% extends 'base.html.twig' %}
{% block title %}Welcome Vue Advanced{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2><a href="{{ path('vue_advanced_homepage') }}">Welcome Vue Advanced</a></h2>

                    <h5>Sposoby pracy z Vue</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_advanced_example1') }}">Example 1 - Klasyczne podejście do pracy z Vue</a></li>
                        <li><a href="{{ path('vue_advanced_example2') }}">Example 2 - Bootstrap aplikacji z vue-cli</a></li>
                        <li><a href="{{ path('vue_advanced_example3') }}">Example 3 - Jednoplikowe komponenty</a></li>
                    </ul>
                    <h5>Zaawansowane koncepcje</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_advanced_example4') }}">Example 4 - Funkcja renderująca vs. szablon</a></li>
                        <li><a href="{{ path('vue_advanced_example5') }}">Example 5 - Komponenty funkcyjne</a></li>
                        <li><a href="{{ path('vue_advanced_example6') }}">Example 6 - Korzystanie z mixin</a></li>
                    </ul>
                    <h5>Zarządzanie stanem aplikacji</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_advanced_example7') }}">Example 7 - Przepływ informacji w aplikacji</a></li>
                        <li>Example 8 - Globalny bus do komunikacji</li>
                        <li>Example 9 - Rozszerzanie Vue</li>
                        <li><strong>Czym jest VueX?</strong></li>
                        <li><a href="{{ path('vue_advanced_example10') }}">Example 10 - Pierwsze kroki z VueX</a></li>
                        <li><a href="{{ path('vue_advanced_example11') }}">Example 11 - Pobieranie danych</a></li>
                        <li><a href="{{ path('vue_advanced_example12') }}">Example 12 - Gettery</a></li>
                        <li><a href="{{ path('vue_advanced_example13') }}">Example 13 - Mutacje</a></li>
                        <li><a href="{{ path('vue_advanced_example14') }}">Example 14 - Akcje</a></li>
                        <li><a href="{{ path('vue_advanced_example15') }}">Example 15 - Funkcje pomocnicze</a></li>
                        <li><a href="{{ path('vue_advanced_example16') }}">Example 16 - Lepsza organizacja kodu</a></li>
                        <li><strong>Example 17 - Debugowanie VueX</strong></li>
                    </ul>
                    <h5>Routing w aplikacji</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_advanced_example18') }}">Example 18 - Pierwsze kroki z vue-router</a></li>
                        <li><a href="{{ path('vue_advanced_example19') }}">Example 19 - Tworzenie tabeli routingu</a></li>
                        <li><a href="{{ path('vue_advanced_example20') }}">Example 20 - Generowanie odnośników</a></li>
                        <li><a href="{{ path('vue_advanced_example21') }}">Example 21 - Dynamiczne parametry</a></li>
                        <li><a href="{{ path('vue_advanced_example22') }}">Example 22 - Zagnieżdżone ścieżki</a></li>
                        <li>Example 23 - Nawigacja z poziomu kodu</li>
                        <li>Example 24 - Nazwane ścieżki</li>
                        <li>Example 25 - Nazwane widoki</li>
                        <li>Example 26 - Przekierowania</li>
                        <li>Example 27 - Przekierowania</li>
                        <li>Example 28 - Tryb History API</li>
                        <li>Example 29 - Tworzenie guardów</li>
                        <li>Example 30 - Animacje</li>
                        <li>Example 31 - Dynamiczne wczytywanie modułów</li>
                        <li>Example 32 - Ustawienia pozycji suwaka</li>
                    </ul>
                    <h5>Praca z danymi z serwera</h5>
                    <ul class="list-unstyled">
                        <li>Example 33 - Pierwsze kroki z axios</li>
                        <li>Example 34 - Pobieranie i wysyłanie danych</li>
                        <li>Example 35 - Integracja axios z Vue</li>
                    </ul>
                    <h5>Praktyczny projekt 1 - Konfigurator produktu</h5>
                    <ul class="list-unstyled">
                        <li>Example 36 - Założenia wstępne projektu pierwszego</li>
                        <li>Example 37 - Pobieranie danych do VueX</li>
                        <li>Example 38 - Generowanie widoku konfiguratora</li>
                        <li>Example 39 - Dodanie logiki konfiguratora</li>
                    </ul>
                    <h5>Praktyczny projekt 2 - Quiz</h5>
                    <ul class="list-unstyled">
                        <li>Example 40 - Założenia wstępne projektu drugiego</li>
                        <li>Example 41 - Pobranie danych do VueX</li>
                        <li>Example 42 - Generowanie widoku quizu</li>
                        <li>Example 43 - Dodanie logiki quizu</li>
                        <li>Example 44 - Obsługa routingu</li>
                        <li>Example 45 - Wyświetlanie podsumowania</li>
                    </ul>
                    <h5>Walidacja formularzy</h5>
                    <ul class="list-unstyled">
                        <li>Example 46 - Pierwsze kroki z vuelidate</li>
                        <li>Example 47 - Definiowanie reguł walidacji</li>
                        <li>Example 48 - Wyświetlanie błędów</li>
                        <li>Example 49 - Sprawdzanie poprawności haseł</li>
                        <li>Example 50 - Asynchroniczna walidacja</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}