{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 33</h2>

                    <div id="app">

                        <edu-counter :init-value="10"></edu-counter>
                        <edu-counter :init-value="5" style="margin-top: 50px;"></edu-counter>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block javascriptsvue %}
    {{ include('VueBundle:VueBasic:_vueScript.html.twig') }}
    {#<script src="{{ asset('js/vue/quick-start.vue.js') }}"></script>#}
    <script>
        var Counter = {
            template: `
                <div class="row justify-content-center">
                    <div class="col-8 text-center">
                        <div class="alert alert-primary" v-show="!inProgress">Naciśnij <strong>Start</strong> aby rozpocząć odliczanie.</div>
                        <h4>{{"{{ counter }}"}}</h4>
                        <button class="btn btn-primary" @click="start" :disabled="inProgress">Start</button>
                    </div>
                </div>
            `,
            props: ["initValue"],
            data: function() {
                return {
                    counter: this.initValue,
                    inProgress: false
                };
            },
            methods: {
                start: function() {
                    this.inProgress = true;
                    this.countdown();
                },
                countdown: function() {
                    this.counter--;
                    if(this.counter > 0) {
                        setTimeout(this.countdown, 1000);
                    } else {
                        setTimeout(() => {
                            this.counter = this.initValue;
                            this.inProgress = false;
                        }, 1000);
                    }
                }
            },
            // created() {
            //     this.counter = this.initValue
            // }
        };

        new Vue({
            el: "#app",
            components: {
                "edu-counter": Counter
            }
        });
    </script>
{% endblock %}