{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 25</h2>

                    <div id="app">
                        <h4>Formularz</h4>
                        <form action="#" @submit.prevent="submit">
                            <div class="form-group row">
                                <div class="col-2">
                                    <label class="form-label">Imię:</label>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" placeholder="Podaj swoje imię" 
                                    @change="firstName = $event.target.value" :value="firstName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label class="form-label">Nazwisko:</label>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" placeholder="Podaj swoje nazwisko"
                                    @input="lastName = $event.target.value" :value="lastName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-2"></div>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="k" v-model="gender">
                                        <label class="form-check-label">Kobieta</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="m" v-model="gender">
                                        <label class="form-check-label">Mężczyzna</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-2"></div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" v-model="terms">
                                        <label class="form-check-label">Akceptuję <a href="#">regulamin</a></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <button class="btn btn-primary float-right" :disabled="!terms || !isFilled">Wyślij</button>
                                </div>
                            </div>
                        </form>
                        <p>Twoje dane: {{"{{ fullName }}"}}</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block javascriptsvue %}
    {{ include('VueBundle:VueBasic:_vueScript.html.twig') }}
    {#<script src="{{ asset('js/vue/quick-start.vue.js') }}"></script>#}
    <script>
        new Vue({
            el: "#app",
            data: {
                firstName: "",
                lastName: "",
                gender: "",
                terms: false
            },
            computed: {
                fullName: function() {
                    return this.firstName + " " + this.lastName;
                },
                isFilled: function() {
                    return this.firstName && this.lastName;
                }
            },
            methods: {
                submit: function(e) {
                    console.log("Wysyłam dane: " + this.fullName);

                }
            }
        });
    </script>
{% endblock %}