{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 3</h2>

                    <div id="app">
                        <h4>{{"{{ heading }}"}}</h4>
                        <p>{{"{{ toUpperCase('Witaj świecie') }}"}}</p>
                        <p>{{"{{ toUpperCase(text) }}"}}</p>
                        <p>Imie: {{"{{ name }}"}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block javascriptsvue %}
    {{ include('VueBundle:VueBasic:_vueScript.html.twig') }}
    {#<script src="{{ asset('js/vue/quick-start.vue.js') }}"></script>#}
    <script>
        new Vue({
            el: "#app",
            data: {
                heading: "Hello World",
                text: "Witaj w świecie vue.js",
                name: ""
            },
            methods: {
                toUpperCase: function(value) {
                    return value.toUpperCase();
                },
                getName: function() {
                    this.name = prompt("Podaj swoje imie:");
                }
            }
        });
    </script>
{% endblock %}