{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Example 58</h2>

                    <div id="app"></div>
                    <pre>
                        <code>
➜  home git:(master) ✗ yarn run encore dev --watch
➜  home git:(master) ✗ yarn run encore production
                        </code>
                    </pre>

                    <pre>
                        <code>
➜  home git:(master) ✗ yarn encore dev-server
    http://localhost:8080

➜  home git:(master) ✗ yarn encore dev-server --https --port 9000
    https://localhost:9000
                        </code>
                    </pre>
                    <h5>Pliki projektu</h5>
                    <pre>
                        <code>
# assets/js/home.js
{{ vueHome }}
                        </code>
                    </pre>

                    <pre>
                        <code>
# assets/js/App.vue
{{ vueApp }}
                        </code>
                    </pre>

                    <pre>
                        <code>
# assets/js/components/Slideshow.vue
{{ vueSlideshow }}
                        </code>
                    </pre>

                    <pre>
                        <code>
# assets/js/components/Slide.vue
{{ vueSlide }}
                        </code>
                    </pre>
                    <pre>
                        <code>
# assets/js/routes/Routes.js
{{ vueRoutes }}
                        </code>
                    </pre>
                    <pre>
                        <code>
# assets/js/helpers/helpers.js
{{ vueHelpers }}
                        </code>
                    </pre>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}