{% extends 'base.html.twig' %}
{% block title %}Welcome Vue Basic{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <div id="app"></div>
                    <h2><a href="{{ path('vue_basic_homepage') }}">Welcome Vue Basic</a></h2>

                    <h5>Pierwsze kroki z Vue</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example1') }}">Example 1</a></li>
                        <li><a href="{{ path('vue_basic_example2') }}">Example 2 - Hello World z Vue</a></li>
                    </ul>
                    <h5>Najważniejsze koncepcje</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example3') }}">Example 3 - Metody</a></li>
                        <li><a href="{{ path('vue_basic_example4') }}">Example 4 - Wyliczone właściwości</a></li>
                        <li><a href="{{ path('vue_basic_example5') }}">Example 5 - Praca z szablonem</a></li>
                        <li><a href="{{ path('vue_basic_example6') }}">Example 6 - Atrybuty</a></li>
                    </ul>
                    <h5>Reaktywność</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example7') }}">Example 7 - Jak działają gettery i settery</a></li>
                        <li><a href="{{ path('vue_basic_example8') }}">Example 8 - Instancja Vue z bliska</a></li>
                    </ul>
                    <h5>Cykl życia aplikacji</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example9') }}">Example 9 - Montowanie aplikacji</a></li>
                        <li><a href="{{ path('vue_basic_example10') }}">Example 10 - Zdarzenia cyklu życia</a></li>
                    </ul>
                    <h5>Zdarzenia</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example11') }}">Example 11 - Przypisywanie obsługi zdarzeń</a></li>
                        <li><a href="{{ path('vue_basic_example12') }}">Example 12 - Przekazywanie parametrów</a></li>
                        <li><a href="{{ path('vue_basic_example13') }}">Example 13 - Modyfikatory zdarzeń</a></li>
                        <li><a href="{{ path('vue_basic_example14') }}">Example 14 - Modyfikatory klawiszy</a></li>
                    </ul>
                    <h5>Najważniejsze dyrektywy</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example15') }}">Example 15 - Praca z klasami CSS</a></li>
                        <li><a href="{{ path('vue_basic_example16') }}">Example 16 - Liniowe style CSS</a></li>
                        <li><a href="{{ path('vue_basic_example17') }}">Example 17 - Warunkowe pokazywanie elementów</a></li>
                        <li><a href="{{ path('vue_basic_example18') }}">Example 18 - Korzystanie z pętli</a></li>
                        <li><a href="{{ path('vue_basic_example19') }}">Example 19 - Unikalność elementów</a></li>
                        <li><a href="{{ path('vue_basic_example20') }}">Example 20 - Grupowanie elementów</a></li>
                    </ul>
                    <h5>Praktyczny projekt 1</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example21') }}">Example 21 - Counter - Odliczanie</a></li>
                    </ul>
                    <h5>Praca z formularzami</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example22') }}">Example 22 - Uchwyty do elementów z DOM</a></li>
                        <li><a href="{{ path('vue_basic_example23') }}">Example 23 - Dwukierunkowe wiązanie danych</a></li>
                        <li><a href="{{ path('vue_basic_example24') }}">Example 24 - Własna implementacja modelu</a></li>
                        <li><a href="{{ path('vue_basic_example25') }}">Example 25 - Praca z radio i checkbox</a></li>
                        <li><a href="{{ path('vue_basic_example26') }}">Example 26 - Praca z polem select</a></li>
                        <li><a href="{{ path('vue_basic_example27') }}">Example 27 - Kontrolowanie zwracanych wartości</a></li>
                        <li><a href="{{ path('vue_basic_example28') }}">Example 28 - Obserwowanie zmian wartości</a></li>
                    </ul>
                    <hr/>
                    <h5>Filtry i dyrektywy</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example29') }}">Example 29 - Tworzenie własnych filtrów</a></li>
                        <li><a href="{{ path('vue_basic_example30') }}">Example 30 - Sposoby na filtrowanie danych</a></li>
                        <li><a href="{{ path('vue_basic_example31') }}">Example 31 - Tworzenie własnych dyrektyw</a></li>
                    </ul>
                    <h5>Komponenty</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example32') }}">Example 32 - Tworzenie własnych komponentów</a></li>
                        <li><a href="{{ path('vue_basic_example33') }}">Example 33 - Przekazywanie danych</a></li>
                        <li><a href="{{ path('vue_basic_example34') }}">Example 34 - Walidacja przekazywanych danych</a></li>
                        <li><a href="{{ path('vue_basic_example35') }}">Example 35 - Komunikacja pomiędzy komponentami w dół</a></li>
                        <li><a href="{{ path('vue_basic_example36') }}">Example 36 - Komunikacja pomiędzy komponentami w górę</a></li>
                        <li><a href="{{ path('vue_basic_example37') }}">Example 37 - Synchronizacja właściwości</a></li>
                        <li><a href="{{ path('vue_basic_example38') }}">Example 38 - Inne metody komunikacji</a></li>
                    </ul>
                    <h5>Praktyczny projekt 2</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example39') }}">Example 39 - Edytowalna lista użytkowników cz.1</a></li>
                        <li><a href="{{ path('vue_basic_example40') }}">Example 40 - Edytowalna lista użytkowników cz.2</a></li>
                        <li><a href="{{ path('vue_basic_example41') }}">Example 41 - Edytowalna lista użytkowników cz.3</a></li>
                    </ul>
                    <h5>Komponenty c.d.</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example42') }}">Example 42 - Dynamiczna podmiana komponentów</a></li>
                        <li><a href="{{ path('vue_basic_example43') }}">Example 43 - Kontrola treści komponentu za pomocą slotu</a></li>
                        <li><a href="{{ path('vue_basic_example44') }}">Example 44 - Tworzenie wielu slotów</a></li>
                        <li><a href="{{ path('vue_basic_example45') }}">Example 45 - Implementacja modelu na komponencie</a></li>
                    </ul>
                    <h5>Animacje</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('vue_basic_example46') }}">Example 46 - Podstawy animacji</a></li>
                        <li>Example 47 - Animacje zmiany komponentu</li>
                        <li>Example 48 - Animacje listy</li>
                        <li>Example 49 - Integracja z animate.css</li>
                        <li>Example 50 - Własny komponent animacji</li>
                    </ul>
                    <h5>Nowoczesny workflow</h5>
                    <ul class="list-unstyled">
                        <li>Example 51 - Praca z narzędziem vue-cli</li>
                        <li>Example 52 - Tworzenie własnego komponentu</li>
                        <li>Example 53 - Praca ze stylami CSS</li>
                    </ul>
                    <h5>Praktyczny projekt 3</h5>
                    <ul class="list-unstyled">
                        <li>Example 54 - Tworzenie komponentów Slideshow</li>
                        <li>Example 55 - Dodanie preloadera obrazów</li>
                        <li>Example 56 - Pobieranie danych z serwera</li>
                        <li>Example 57 - Dodanie obsługi routingu</li>
                        <li>Example 58 - Tworzenie produkcyjnego builda</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}