{% extends 'base.html.twig' %}
{% block title %}Welcome Blog!{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Welcome Bootstrap!</h2>
                    
                    
                    <a href="{{ path('components_modal') }}">Modal</a>
                    <a href="{{ path('content_typography') }}">Typography</a>
                    <a href="{{ path('content_lists') }}">Lists</a>
                    <a href="{{ path('content_fonts') }}">Fonts</a>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
