<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            {% stylesheets filter="scssphp" output="css/app.css"
                "%kernel.root_dir%/Resources/assets/scss/bootstrap-home/bootstrap-home.scss"
                "%kernel.root_dir%/Resources/assets/scss/font-awesome/font-awesome.scss"
                "%kernel.root_dir%/Resources/assets/scss/animate/animate.scss"
                "%kernel.root_dir%/Resources/assets/scss/highlight/tomorrow-night-blue.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/home.css') }}">

    </head>
    <body>
        {% block navigation %}
            {{ include('_navbar.html.twig') }}
        {% endblock %}
        
        {% block body %}{% endblock %}
        
        {% block footer %}{% endblock %}

        {% block javascripts %}
            {% javascripts filter="?jsqueeze" output="js/app.js"
                "%kernel.root_dir%/Resources/assets/js/jquery.min.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap/bootstrap.min.js"
                "%kernel.root_dir%/Resources/assets/js/docs2/vendor/popper.min.js"
                "%kernel.root_dir%/Resources/assets/js/docs2/vendor/holder.min.js"
                "%kernel.root_dir%/Resources/assets/js/highlight/highlight.min.js"
                "%kernel.root_dir%/Resources/assets/js/svg4everybody.min.js"
                "%kernel.root_dir%/Resources/assets/js/main.js"
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('build/js/home.js') }}"></script>
        {#<script src="{{ asset('build/runtime.js') }}"></script>#}
        
    </body>
</html>