<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            {% stylesheets filter="scssphp" output="css/app.css"
                "%kernel.root_dir%/Resources/assets/scss/bootstrap/bootstrap.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    </head>
    <body>
        <a href="{{ path('homepage') }}">Start</a> |
        <a href="{{ path('_about_me') }}">About</a>

        {% block body %}{% endblock %}

        {% block javascripts %}
            {% javascripts filter="?jsqueeze" output="js/app.js"
                "%kernel.root_dir%/Resources/assets/js/jquery.min.js"
                "%kernel.root_dir%/Resources/assets/js/docs/vendor/tether.min.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap.min.js"
                "%kernel.root_dir%/Resources/assets/js/docs/vendor/holder.min.js"
                "%kernel.root_dir%/Resources/assets/js/docs/ie10-viewport-bug-workaround.js"
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        
        <script src="{{ asset('js/app.js') }}"></script>
        
    </body>
</html>