{% extends 'base.html.twig' %}
{% block title %}Typography{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Fonts</h2>
                </div>
            </div>
            <div class="col-md-12">
                <p class="font-roboto-thin">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-thin-italic">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-light">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-light-italic">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-regular">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-regular-italic">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-medium">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-medium-italic">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-bold">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-bold-italic">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-black">{{ 'title.homepage'|trans|raw }}</p>
                <p class="font-roboto-black-italic">{{ 'title.homepage'|trans|raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}