{% extends 'base.html.twig' %}
{% block title %}Icons{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>SVG</h2>
                </div>
            </div>
            <div class="col-md-12 text-center text-success">
                <svg title="Camera" role="img">
                    <use xlink:href="{{ asset('svg/icon.svg#camera') }}"></use>
                </svg>
                <svg title="Camera" role="img" class="svg-stroke">
                    <use xlink:href="{{ asset('svg/icon.svg#camera') }}"></use>
                </svg>
                <svg title="Camera" role="img" class="svg-fill">
                    <use xlink:href="{{ asset('svg/icon.svg#camera') }}"></use>
                </svg>
                <br/>
                <svg role="img">
                    <use xlink:href="{{ asset('svg/icon.svg#pencil') }}"></use>
                </svg>
                <svg role="img" class="svg-stroke">
                    <use xlink:href="{{ asset('svg/icon.svg#pencil') }}"></use>
                </svg>
                <svg role="img" class="svg-fill">
                    <use xlink:href="{{ asset('svg/icon.svg#pencil') }}"></use>
                </svg>
                <br/>
                <svg>
                    <use xlink:href="{{ asset('svg/icon.svg#eye') }}"></use>
                </svg>
                <svg class="svg-stroke">
                    <use xlink:href="{{ asset('svg/icon.svg#eye') }}"></use>
                </svg>
                <svg class="svg-fill">
                    <use xlink:href="{{ asset('svg/icon.svg#eye') }}"></use>
                </svg>
                <br/>
                <svg>
                    <use xlink:href="{{ asset('svg/icon.svg#plus-in-circle') }}"></use>
                </svg>
                <svg class="svg-stroke">
                    <use xlink:href="{{ asset('svg/icon.svg#plus-in-circle') }}"></use>
                </svg>
                <svg class="svg-fill">
                    <use xlink:href="{{ asset('svg/icon.svg#plus-in-circle') }}"></use>
                </svg>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}