{% extends 'base.html.twig' %}
{% block title %}Start{% endblock %}

{% block body %}
    {#{{ show_source_code(_self) }}#}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-3">
                    <h2>Start</h2>
                </div>
                <p>{{ 'title.homepage'|trans|raw }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4><a href="{{ path('bootstrap_homepage') }}">Bootstrap</a></h4>
                <ul class="list-unstyled">
                    <li>Layout - Grid System</li>
                    <li><a href="{{ path('content_typography') }}">Content - Typography</a></li>
                    <li><a href="{{ path('content_code') }}">Content - Code</a></li>
                    <li><a href="{{ path('content_lists') }}">Content - Lists</a></li>
                    <li><a href="{{ path('content_fonts') }}">Content - Fonts</a></li>
                    <li><a href="{{ path('components_modal') }}">Components - Modal</a></li>
                </ul>
                <h4>Bootstrap React</h4>
            </div>
            <div class="col-md-4">
                <h4><a href="{{ path('tutorial_homepage') }}">Tutorial</a></h4>
                <ul class="list-unstyled">
                    <li><a href="{{ path('tutorial_blog_homepage') }}">Blog</a></li>
                    <li><a href="{{ path('tutorial_shop_homepage') }}">Shop</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Blog</h4>
                <h4>Code</h4>
                <h4>Examples</h4>
                <h4>Features</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                <ul>
                    <li>React
                        <ul>
                            <li>https://reactstrap.github.io/components/dropdowns/</li>
                            <li>https://github.com/reactstrap/reactstrap</li>
                            <li>https://react-bootstrap.github.io/components/buttons</li>
                        </ul>
                    </li>
                    <li>JS
                        <ul>
                            <li>http://kursjs.pl/kurs/super-podstawy/petle.php</li>
                        </ul>
                    </li>
                    <li>Angielski</li>
                    <li>Dockier</li>
                    <li>Symfony 4</li>
                    <li>Media społecznościowe</li>
                </ul>
                
                <h3>Gitflow</h3>
                <p>https://codecouple.pl/2016/02/11/gitflow-workflow-model-pracy-z-gitem/</p>
                <p>https://datasift.github.io/gitflow/IntroducingGitFlow.html</p>
                <p>https://danielkummer.github.io/git-flow-cheatsheet/</p>
                <hr/>
                
                <p>https://typeofweb.com/2017/12/19/klasy-jako-komponenty-react-js/</p>
                <p>https://www.nafrontendzie.pl/podstawy-reactjs-kompletny-tutorial</p>

                <p>https://developers.google.com/web/</p>


                <p>http://preview.themeforest.net/item/adminpro-bootstrap4-dashboard-template-angular-cli-starter-kit/full_screen_preview/20601388?_ga=2.160526202.676441928.1516406914-1094390471.1516094075</p>

                <p>https://wrappixel.com/demos/admin-templates/admin-pro/main/index.html</p>

                <p>http://preview.oklerthemes.com/porto/6.0.0/index.html</p>

                <p>http://jmblog.github.io/color-themes-for-highlightjs/tomorrow-night-blue/</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
